@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
*{
  padding:0px;
  margin: 0px;
}
body{
  text-align: center;
  height: 100%;
  width: 100%;
}
header{
  font-family: 'PyeongChangPeace-Bold';
  margin-top: 30px;
  font-size: 32px;
  color: darkmagenta;
  width: 100%;
}
.container{
  margin-top: 30px;
  position: absolute;
  left: 24%;
  width: 800px;
  /* border: 1px solid chartreuse; */
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.container>div{
  /* border: 1px solid fuchsia; */
  /* display:f */
  flex-direction: column;
  width: 200px;
  

}
div>.item{
  line-height: 70%;
  background-color: pink;
  height: 70%;
  margin: 0px;
  padding: 0px;
}
div>.musicTitle{
  height: 13%;
  background-color: red;
}
 div> img{
  width :200px;
 

 }
div>.musicSinger{

  height: 10%;
  background-color: bisque;
}

.level>span{
  font-family: 'UhBeeSe_hyun';
  color: pink ;
}
/* 밑에 나중에 on으로 바꾸고 클릭시 변경  setTime 4초줄것  */
.level:hover{  
  transform: rotate(365deg);
 transition: 3s;
}
