@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  box-sizing: border-box; 
}

body {
  justify-content: center; 
  align-items: center; 
  text-align: center;
  width: 100vw;
  height: 100vh;

}


img {
  width: 700px; 
  height: 520px;
  object-fit: cover; 
} 

h1{
  font-family: 'PyeongChangPeace-Bold';
  position: absolute;

  width: 500px;
  top:30px;
  left: 34%;
  color: white;
}
.nextGame-btn{
  position: absolute;
  top:50%;
  left:65%;
  /* background-color: white; */
  font-size: 25px;
  color: white;
}
.nextGame-btn:hover{
  color: red;
  transform: translate(-100px,0px);
  transition: 3s;
}
.quitGame-btn{
  position: absolute;
  top:60%;
  left:65%;
  /* background-color: white; */
  font-size: 25px;
  color: white;
}
.quitGame-btn:hover{
  transform: translate(-100px,0px);
  transition: 3s;
  color: pink;
}